---
# NOTEBOOK 4 - DATA PREPROCESSOR AND COMPILER:
## Perform All Data Transformations From Notebooks 1, 2, nd 3 in One Location
---

# PROJECT : Boston Airbnb Fair Pricing Tool and Recommender

# Notebook Overview:
* All data transformation steps from Notebooks 1, 2, and 3 are recreated as individual functions below and then all run under one master function
* Provisions are added so that the training data will store certain values and train certain algorithms such that the exact same transformations are performed on validation and test data
* Finally, all datasets are exported

# NOTE REGARDING GOOGLE GEOCODING API DATA
The data collected via the Geocoding API are not pushed to GitHub as Google appears to have restrictions on the data obtained.  The [Google Maps Platform Terms of Service](https://cloud.google.com/maps-platform/terms?_gl=1*1v1wn86*_ga*NjA0MzgzMTI1LjE2ODU4NjA1NTU.*_ga_NRWSTWS78N*MTY4NjMyODIwNy44LjEuMTY4NjMyODQ3MS4wLjAuMA..), section 3.2.3(a) does not appear to permit the user to '(i) pre-fetch, index, store, reshare, or rehost Google Maps Content outside the services.'  This may imply that storing the geocoding data outside of this local machine where others can access it, is not allowed.

Thus, while it's not fully clear why Google would offer these services but disallow the publication of its already-publicly available data, the geocode data will be omitted from the public repo.

#### In this notebook, these data are imported from the local directory.

# 1 - Library Imports and Read-in Data

In [1]:
# Basic Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# For error hansling see source provided by H. Butler:
#  Source:  https://stackoverflow.com/questions/1483429/how-do-i-print-an-exception-in-python
import traceback

# Import Math for help with distances
import math

# For tesxt:
import re

# For times:
import time

# Set a random seed for imputation
#  Source:  https://numpy.org/doc/stable/reference/random/generated/numpy.random.seed.html
np.random.seed(42)

# Sklearn
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Import the Training Data
lstn = pd.read_csv('../data/listings_train.csv')

In [3]:
# Note, this file has been added to the gitignore file and is NOT located in the repository
geodata = pd.read_csv('../data/lat_lng_data.csv')

latitudes = list(geodata.lat)
longitudes = list(geodata.long)

# 2 - Drop Un-needed Columns
The below function drops all columns previously identified to be dropped and not used.  Some columns are dropped in a second step which may later be kept in a subsequent iteration of this project.

In [4]:
def col_dropper(data_frame):
    data_frame.drop(columns = [
        'listing_url', 'scrape_id', 'last_scraped', 'source',
        'picture_url', 'host_url', 'host_name', 'host_thumbnail_url', 'host_picture_url',
        'neighbourhood','neighbourhood_group_cleansed', 'minimum_minimum_nights',
        'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 
        'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated',
        'calendar_last_scraped', 'bathrooms', 'first_review', 'last_review',
        'id', 'host_id',
    ], inplace = True)

    # For now, these columsn will also be dropped unless time allows for them to be processed:
    data_frame.drop(columns = [
        'host_location', 'host_neighbourhood', 'review_scores_rating', 'review_scores_accuracy',
        'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication',
        'review_scores_location', 'review_scores_value', 'license'
    ], inplace = True)
    
    # No need to reutrn the dataframe as the inplace functions carry over to the input dataframe

# 3 - Fix Datatypes
Explanation provided in-code

In [5]:
'''
Since the null values are not a very big percentage of the total data (though not a small percentage either),
the data will be imputed with the median value.

In order to do that, the percetnages need to be convereted where possible, so that the nulls can be imputed
with the median value.

The pcnt_floater functionwill be copied over here.  This is necessary as there are null values in these columns
which cannot be simply converted within the lambda function because there is no percentage sign.
'''

# This function will attempt to convert a string percentage value into a float
#  Source for help:  https://www.w3schools.com/python/python_try_except.asp
def pcnt_floater(x):
    try:
        return float(x.replace('%', '').strip())
    except:
        return x

In [6]:
def data_fixer(data_frame):

# FIX PRICE:  The dolar signs must be removed from the prices and numbers converted to float values
    data_frame.price = data_frame.price.apply(lambda x: float(x.replace('$','').replace(',','').strip()))

    # FIX HOST SINCE:  Convert to datetime then to epoch time in days
    '''
    The method used below to convert to epoch time was discovered with the help of ChatGPT.
    Per the lead instructor, it is ok to use ChatGPT is a search tool provided that we provide the
    question that was asked:

    Question:  'in python, I want to convert a pandas datetime object to epoch time'

    Additional help from:  https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html
    '''

    # The strings are converted to date time, then to epoch time with '.timestamp()'
    # The epoch time is then divided by the product the number of hours and seconds per day
    #   to get the number of days since the epoch time origin 
    data_frame['host_since'] = pd.to_datetime(data_frame['host_since']).apply(lambda x: x.timestamp()/(3600*24))

    # FIX RESPONSE & ACCEPTANCE RATES:  Remove percentages
    # Convert percentages where they can be converted
    data_frame.host_acceptance_rate = data_frame.host_acceptance_rate.apply(lambda x: pcnt_floater(x))
    data_frame.host_response_rate = data_frame.host_response_rate.apply(lambda x: pcnt_floater(x))

# 4 - Impute Missing Data
The function below will impute values and where necessary, store the imputation values from the training dataset for later imputation into validation and testing datasets.

In [7]:
def data_imputer(data_frame, training_data):
    # Impute missing text information with 'no_text_entered' into the following columns
    nte_cols = ['description', 'neighborhood_overview','host_about', 'host_response_time']

    for col in nte_cols:
        data_frame[col].fillna('no_text_entered', inplace = True)

    # Impute missing data with the median in the following columns
    median_cols = ['host_response_rate', 'host_acceptance_rate', 'bedrooms', 'beds']
    
    for col in median_cols:
        
        # Store the median values to a global varialbe for each column only if the it's a training dataset
        if training_data == True:
            globals()[f'median_val_{col}'] = data_frame[col].median()
        
        data_frame[col].fillna(globals()[f'median_val_{col}'], inplace = True)

    # Impute missing values with the mode in the following columns
    data_frame.host_is_superhost.fillna(data_frame.host_is_superhost.mode()[0], inplace = True)
    data_frame.bathrooms_text.fillna(data_frame.bathrooms_text.mode()[0], inplace = True)

    # Impute missing data with 0 in reviews per month
    data_frame.reviews_per_month.fillna(0, inplace = True)

In [8]:
# Verify imputation
sum(lstn.isnull().sum() != 0)

27

# 5 - Create Simple Numerical Features
The function below adds the calculated percentages of each host's inventory of different room types.

In [9]:
def simp_num_ft(data_frame):
    # Create percentage columns for the calculated listings by listing type
    data_frame['pcnt_ent_homes'] = round(data_frame['calculated_host_listings_count_entire_homes'] / data_frame['calculated_host_listings_count'], 3)
    data_frame['pcnt_private'] = round(data_frame['calculated_host_listings_count_private_rooms'] / data_frame['calculated_host_listings_count'], 3)
    data_frame['pcnt_shared'] = round(data_frame['calculated_host_listings_count_shared_rooms'] / data_frame['calculated_host_listings_count'], 3)

# 6 - Add T-Stop Distnace Data
Performs the same functions from the previous notebook.

In [10]:
# This funciton was written around the following source:
# https://towardsdatascience.com/create-new-column-based-on-other-columns-pandas-5586d87de73d

def min_dist(fn_lat, fn_lng, lat_data, lng_data):
    
    '''
    The average latitude of all Boston Airbnb listings is about 42.3 degrees.  At this latitude,
    one degree of latitude is a larger distance than one degree of longitude.  Thus, if the
    latitude and longitude angular displacements between two locations are equal, their distances
    are not.  A distance correction factor needs to be added in to correct this discrepancy.  It
    will be multiplied by the longitude values to get latitidue and longitude in the same equivalent
    distance scale.
    '''
    
    # Source for calculating cosine
    # https://www.geeksforgeeks.org/python-math-cos-function/
    # Source for pi:  https://www.w3schools.com/python/ref_math_pi.asp
    dist_correction_factor = math.cos(42.3*math.pi/180)
    
    # Set a minimum distnace well beyond anything that would be derived
    min_dist = 90
    
    # Write a loop to find the minimum (euclidean) distance to every T-stop
    for n in range(len(latitudes)):
        dist = ((fn_lat - lat_data[n])**2 + (dist_correction_factor * (fn_lng - lng_data[n]))**2)**0.5
        
        # Store this distance if smaller than min distance
        if dist < min_dist:
            min_dist = dist
    
    return min_dist

In [11]:
# # This funciton was written around the following source:
# # https://towardsdatascience.com/create-new-column-based-on-other-columns-pandas-5586d87de73d

# def min_dist(fn_lat, fn_lng, lat_data, lng_data):
    
#     # Set a minimum distnace well beyond anything that would be derived
#     min_dist = 90
    
#     # Write a loop to find the minimum (euclidean) distance to every T-stop
#     for n in range(len(latitudes)):
#         dist = ((fn_lat - lat_data[n])**2 + (fn_lng - lng_data[n])**2)**0.5
        
#         # Store this distance if smaller than min distance
#         if dist < min_dist:
#             min_dist = dist
    
#     return min_dist

In [12]:
def dist_ft_adder(data_frame):
    # Crate a new column with the minimum distance to any T-stop
    #  The following source was used to help write this code (note axis = 1 is KEY!):
        # https://towardsdatascience.com/create-new-column-based-on-other-columns-pandas-5586d87de73d
    data_frame['min_distance'] = data_frame.apply(lambda x: min_dist(x.latitude, x.longitude, latitudes, longitudes), axis = 1)

# 7 - Create Log Features
For all numerical columns, a feature that is equal to the logarithm of a numerical feature will be added for each numerical feature.  As the histograms and correlation plots in Notebook 1 showed, some features achieved higher correlations coefficients with log_price after themselves being log transformed.

In [13]:
# Get basic stats on numerical data to check for negative numbers, nulls, and zeros.
'''
NOTE:  This was only for the purposes of developing the function below.
'''

lstn._get_numeric_data().describe().T

,count,mean,std,min,25%,50%,75%,max
id,2781.0,2.462554e+17,3.427382e+17,3.781000e+03,2.515811e+07,4.824698e+07,6.470705e+17,8.493358e+17
scrape_id,2781.0,2.023032e+13,8.399948e-01,2.023032e+13,2.023032e+13,2.023032e+13,2.023032e+13,2.023032e+13
host_id,2781.0,1.499206e+08,1.415986e+08,4.804000e+03,2.234822e+07,1.074344e+08,2.758496e+08,5.041795e+08
host_listings_count,2781.0,4.690273e+02,1.336724e+03,1.000000e+00,2.000000e+00,1.200000e+01,8.400000e+01,4.807000e+03
host_total_listings_count,2781.0,6.275074e+02,1.505024e+03,1.000000e+00,3.000000e+00,1.600000e+01,1.270000e+02,5.358000e+03
neighbourhood_group_cleansed,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,2781.0,4.233701e+01,2.736836e-02,4.223530e+01,4.232098e+01,4.234448e+01,4.235431e+01,4.239132e+01
longitude,2781.0,-7.108231e+01,3.305332e-02,-7.117349e+01,-7.110036e+01,-7.107307e+01,-7.106081e+01,-7.099600e+01
accommodates,2781.0,3.167566e+00,2.213750e+00,1.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00,1.600000e+01
bathrooms,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bedrooms,2438.0,1.754307e+00,1.219764e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.300000e+01
beds,2711.0,1.790483e+00,1.440709e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.200000e+01
minimum_nights,2781.0,3.099892e+01,3.943985e+01,1.000000e+00,2.000000e+00,2.800000e+01,3.200000e+01,4.000000e+02
maximum_nights,2781.0,6.712352e+02,4.524375e+02,2.000000e+00,3.650000e+02,3.680000e+02,1.125000e+03,1.125000e+03
minimum_minimum_nights,2781.0,3.472816e+01,5.466348e+01,1.000000e+00,1.000000e+00,1.000000e+01,3.200000e+01,4.000000e+02
maximum_minimum_nights,2781.0,6.089356e+01,1.010902e+02,1.000000e+00,3.000000e+00,2.900000e+01,9.100000e+01,4.000000e+02
minimum_maximum_nights,2781.0,2.317402e+06,7.050721e+07,1.000000e+00,3.650000e+02,1.125000e+03,1.125000e+03,2.147484e+09
maximum_maximum_nights,2781.0,7.722815e+06,1.285657e+08,2.000000e+00,3.650000e+02,1.125000e+03,1.125000e+03,2.147484e+09
minimum_nights_avg_ntm,2781.0,5.911309e+01,9.852488e+01,1.000000e+00,2.200000e+00,2.800000e+01,9.100000e+01,4.000000e+02
maximum_nights_avg_ntm,2781.0,4.296836e+06,8.475779e+07,2.000000e+00,3.650000e+02,1.125000e+03,1.125000e+03,2.147484e+09
calendar_updated,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
availability_30,2781.0,1.009133e+01,1.079859e+01,0.000000e+00,0.000000e+00,7.000000e+00,1.800000e+01,3.000000e+01
availability_60,2781.0,2.447213e+01,2.177730e+01,0.000000e+00,0.000000e+00,2.200000e+01,4.400000e+01,6.000000e+01
availability_90,2781.0,4.046674e+01,3.204159e+01,0.000000e+00,6.000000e+00,4.000000e+01,6.900000e+01,9.000000e+01
availability_365,2781.0,1.990065e+02,1.303065e+02,0.000000e+00,7.700000e+01,2.210000e+02,3.220000e+02,3.650000e+02
number_of_reviews,2781.0,4.108738e+01,8.199650e+01,0.000000e+00,0.000000e+00,7.000000e+00,4.400000e+01,8.210000e+02
number_of_reviews_ltm,2781.0,1.162100e+01,2.122723e+01,0.000000e+00,0.000000e+00,1.000000e+00,1.400000e+01,1.550000e+02
number_of_reviews_l30d,2781.0,6.238763e-01,1.504259e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
review_scores_rating,1972.0,4.688463e+00,4.660137e-01,0.000000e+00,4.600000e+00,4.800000e+00,4.970000e+00,5.000000e+00
review_scores_accuracy,1966.0,4.752157e+00,3.985007e-01,0.000000e+00,4.700000e+00,4.860000e+00,4.990000e+00,5.000000e+00
review_scores_cleanliness,1967.0,4.728124e+00,3.940967e-01,0.000000e+00,4.640000e+00,4.850000e+00,4.990000e+00,5.000000e+00
review_scores_checkin,1966.0,4.824710e+00,3.709812e-01,0.000000e+00,4.810000e+00,4.940000e+00,5.000000e+00,5.000000e+00
review_scores_communication,1967.0,4.805358e+00,3.849088e-01,1.000000e+00,4.790000e+00,4.920000e+00,5.000000e+00,5.000000e+00
review_scores_location,1966.0,4.758032e+00,3.518585e-01,1.000000e+00,4.670000e+00,4.875000e+00,5.000000e+00,5.000000e+00
review_scores_value,1966.0,4.596445e+00,4.603274e-01,1.000000e+00,4.500000e+00,4.700000e+00,4.860000e+00,5.000000e+00
calculated_host_listings_count,2781.0,6.270802e+01,1.108793e+02,1.000000e+00,2.000000e+00,8.000000e+00,5.000000e+01,3.400000e+02
calculated_host_listings_count_entire_homes,2781.0,3.951097e+01,9.364456e+01,0.000000e+00,1.000000e+00,4.000000e+00,2.200000e+01,3.400000e+02
calculated_host_listings_count_private_rooms,2781.0,2.313305e+01,7.136186e+01,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,2.740000e+02
calculated_host_listings_count_shared_rooms,2781.0,1.330457e-02,1.320940e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
reviews_per_month,1972.0,1.681521e+00,1.910530e+00,1.000000e-02,2.700000e-01,1.000000e+00,2.420000e+00,1.629000e+01

In [14]:
'''
The col_logger function will need to be brough in from the other notebooks

This has been modified to include a 0 imputation value n such that transforamtion
occurs on log(n) and not log(0) which is undefined.
'''

def col_logger(data_column, zero_imp = 1):
    # Since log(0) is undefined, 0's must be treated as log(1)
    return data_column.apply(lambda x: np.log(zero_imp) if x==0 else np.log(x))

In [15]:
# This function creates a logarithmic feature of an existing numerical feature and has built-in methods
#  to handle zeros, negative numbers, and values between 0 and 1 which would produce negative numbers.

def log_ft_maker(data_frame, training_data):
    # Create a list of numerical columns
    num_cols = list(data_frame._get_numeric_data().columns)

    # Remove latitiude and longitude data as they were used previously to create distances
    num_cols.remove('latitude')
    num_cols.remove('longitude')

    for col in num_cols:

        # Find columsn with values between 0 and 1
        if len(data_frame[col][(data_frame[col] < 1) & (data_frame[col] > 0)]) > 0:

            # Determine the minimum value in that column, if it's 0, base the minimum
            #  value off of the second smallest value in the column
            # If it's negative, raise an error!
            if min(data_frame[col]) < 0:
                raise Exception('CANT LOGARITHM A NEGATIVE NUMBER')
            
            # Store the minimum column values to a global variable only if training_data == True
            if training_data == True:
                
                # Handling zero imputation
                if min(data_frame[col]) == 0:
                    # second smallest value
                    globals()[f'min_col_val{col}'] = data_frame[col].sort_values().unique()[1]
                
                # Handling 0 - 1 imputation
                else:
                    globals()[f'min_col_val{col}'] = min(data_frame[col][(data_frame[col] < 1) & (data_frame[col] > 0)])

            # Calculate a zero imputation value for use in the col_logger function
            #  Take the natural log of the minimum value and round down
            '''
            This last step ensures that any zero values will be less than any positive
            values after a log transformation.
            '''
            z_imp = np.exp(np.floor(np.log(globals()[f'min_col_val{col}'])))

            # Transform the column:
            data_frame[f'log_{col}'] = col_logger(data_frame[col], z_imp)

        else:
            # Otherwise, simply use defulat zero_imputation value of 1
            data_frame[f'log_{col}'] = col_logger(data_frame[col])

# 8 - One Hot Encoding
Most categorical features save for those described in Notebook 2 are one-hot-encoded here.

In [16]:
# Help with this text from the documentation:  https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

def ohe_fn_2(data_frame, training_data):
    # Find the remaining categorical columns:
    cat_cols = list(data_frame.columns)
    num_cols = list(data_frame._get_numeric_data().columns)

    for col in num_cols:
        cat_cols.remove(col)

    # Some of these columns must be removed to be handled separately in advanced processing
    remove_cols = ['amenities', 'host_about', 'name', 'neighborhood_overview', 'description']

    for col in remove_cols:
        cat_cols.remove(col)

    # Create a new temporary dataframe with just the columns taht nee to be one hot encoded
    #  otherwise, it will try to OHE the whole thing...
    data_frame_temp = data_frame[cat_cols]
    
    # Add an if statment to fit_transform only if it's the training data:
    if training_data == True:
        # The instance of onehotencoder must be created as aglabal variable
        #  ONLY DO THIS FOR TRAINING!!!
        globals()['ohe_inst'] = OneHotEncoder(sparse_output = False, drop = 'first', handle_unknown='ignore')
        
        # Create the ohe array from the temporary dataframe (fitted and transformed)
        ohe_array = ohe_inst.fit_transform(data_frame_temp)

    else:
        # Create the ohe array from the temporary dataframe (transformed only)
        ohe_array = ohe_inst.transform(data_frame_temp)
    
    # Make a dataframe from the array with the proper columns
    ohe_array_df = pd.DataFrame(ohe_array, columns=ohe_inst.get_feature_names_out())
    
    # Drop the original cat_col columns in the original dataframe
    data_frame.drop(columns=cat_cols, inplace=True)
    
    # Merge the OHE data into the new dataframe
    data_frame = pd.merge(left = data_frame, 
                 right = ohe_array_df, 
                 left_index=True, right_index=True, 
                 how = 'outer')
    
    # Return the dataframe
    return data_frame

# 9 - Advanced Processing
Here, the features created in Notebook 2 are replicated here in function form.

## 9.1 - Amenities

In [17]:
# Prior to merging, add a prefix to the column names since it is text data and words tokenized from
#  one column could overwrite with those of another.

# Make a function to do this for all dataframes.

def col_renamer(df, prefix):
    new_names = [f'{prefix}_{col}' for col in df.columns]
    df.columns = new_names

In [18]:
# utilize the regex and code from the previous notebook.

def amentiy_count_maker(data_frame):
    # Use a regular expression to extract the amenities which are between quotes.
    #  Code adapted from this source: https://stackoverflow.com/questions/1454913/regular-expression-to-find-a-string-included-between-two-characters-while-exclud
    # Also helpful:  https://regex101.com/
    regex_string = '(?<=")[^"]+(?="[,\]])'
    
    # Using regex as before, find the number of amenities for every listing and store to a new column
    data_frame['amen_cnt'] = data_frame.amenities.apply(lambda x: len(re.findall(regex_string, x)))

    # Create a log transformed column, setting the zero imputation value to e^-1
    data_frame['log_amen_cnt'] = col_logger(data_frame['amen_cnt'], np.exp(-1))

In [19]:
# utilize the regex and code from the previous notebook.

def amenity_maker(data_frame, training_data):
    # Use a regular expression to extract the amenities which are between quotes.
    #  Code adapted from this source: https://stackoverflow.com/questions/1454913/regular-expression-to-find-a-string-included-between-two-characters-while-exclud
    # Also helpful:  https://regex101.com/
    regex_string = '(?<=")[^"]+(?="[,\]])'

    amn_lst = []

    for string_lists in data_frame.amenities:
        a_list = re.findall(regex_string, string_lists)
        for amenity in a_list:
            amn_lst.append(amenity)

    # Create a pandas series of all amenities and their number of occurences
    amn_counts = pd.Series(amn_lst).value_counts(ascending=False)

    # Filter the datafarme to use only words that appear in 99% of posts
    #  THIS IS REQUIRED GIVEN THAT min_df IS IGNORED BY COUNT VECTORISZER WITH CUSTOM DICTIONARIES
    #  Create a vocab variable by using the index attribute to get the list of amenities
    amn_vocab = amn_counts[amn_counts >= 35].index

    if training_data == True:
        # Use countevectorizer to one hot encode all the amenities
        #  Use the vocab to get only the amenities encoded
        #  NOTE:  Set the 'token_pattern' to the regex string so it finds the exact same tokens as were found previously
        globals()[f'cvec_amen'] = CountVectorizer(lowercase=False,
                               vocabulary=amn_vocab,
                               ngram_range=(1, 1),
                               token_pattern=regex_string,
                              )

        # Create a new dataframe with the count vectorized data from the amenities column
        amen_df = pd.DataFrame(globals()[f'cvec_amen'].fit_transform(data_frame.amenities).todense(), 
                     columns = globals()[f'cvec_amen'].get_feature_names_out())
    
    else:
        # Create a new dataframe with the count vectorized data from the amenities column
        amen_df = pd.DataFrame(globals()[f'cvec_amen'].transform(data_frame.amenities).todense(), 
                     columns = globals()[f'cvec_amen'].get_feature_names_out())
        
    # Rename the columns of amen_df
    col_renamer(amen_df, 'amen')
    
    # Drop the amenities column from the original dataframe
    data_frame.drop(columns = 'amenities', inplace = True)
    
    # Merge amen_df into the lstn dataframe
    return pd.merge(left = data_frame, 
                    right = amen_df, 
                    left_index=True, right_index=True, 
                    how = 'outer')

## 9.2 - Count Vectorize and Add Columns for Name, Description, Neigb. Overview, and Host About

In [20]:
'''
Write a function that will:
* vectorize the columns
* create a new df for those columns
* rename those columns
* merge into lstn
* Store the count vectorizer objects so that .transform can be later 
run on testing/validation datasets
'''

def text_col_cvec(data_frame, training_data):
    
    # Provide all the columns that need to be word vectorized
    text_cols = ['name', 'description', 'host_about', 'neighborhood_overview']
    
    for col in text_cols:
        # print(f'before: {data_frame.shape}')
        
        # Create a temporary variable to establish the pandas series based on the list
        column_data = data_frame[col]
        
        # Do fit_transform only if training_data = True
        if training_data == True:
            
            # Instantiate count vectorizer
            globals()[f'cvec_{col}'] = CountVectorizer(ngram_range=(1, 4), min_df=0.01)

            # Create a new dataframe with the count vectorized data from the selected column
            cvec_df = pd.DataFrame(globals()[f'cvec_{col}'].fit_transform(column_data).todense(), 
                         columns = globals()[f'cvec_{col}'].get_feature_names_out())
            
        else:
            # Create a new dataframe with the count vectorized data from the selected column
            cvec_df = pd.DataFrame(globals()[f'cvec_{col}'].transform(column_data).todense(), 
                         columns = globals()[f'cvec_{col}'].get_feature_names_out())

        # Rename the columns
        col_renamer(cvec_df, col)
        
        # print(cvec_df.shape)
        
        
        # Drop the newly vecotirzed column from the original dataframe
        data_frame.drop(columns = col, inplace = True)

        # Merge into the main dataframe
        data_frame = pd.merge(left = data_frame, 
             right = cvec_df, 
             left_index=True, right_index=True, 
             how = 'outer')
        
        # print(f'after: {data_frame.shape} \n')
        
    return data_frame

# 10 - Combine All Functions Into One and Tranform Data

In [21]:
def master_formatter_2(data_frame, training_data):
    # wrap in a try/except block for easier debugging
    try:
        print(f'start: {data_frame.shape[1]}')

        col_dropper(data_frame)
        print(f'col_dropper: {data_frame.shape[1]}')

        data_fixer(data_frame)
        print(f'data_fixer: {data_frame.shape[1]}')

        data_imputer(data_frame, training_data)
        print(f'data_imputer: {data_frame.shape[1]}')

        simp_num_ft(data_frame)
        print(f'simp_num_ft: {data_frame.shape[1]}')

        dist_ft_adder(data_frame)
        print(f'dist_ft_adder: {data_frame.shape[1]}')

        log_ft_maker(data_frame, training_data)
        print(f'log_ft_maker: {data_frame.shape[1]}')

        data_frame = ohe_fn_2(data_frame, training_data)
        print(f'ohe_fn: {data_frame.shape[1]}')

        amentiy_count_maker(data_frame)
        print(f'amentiy_count_maker: {data_frame.shape[1]}')

        data_frame = amenity_maker(data_frame, training_data)
        print(f'amenity_maker: {data_frame.shape[1]}')

        data_frame = text_col_cvec(data_frame, training_data)
        print(f'text_col_cvec: {data_frame.shape[1]}')

        return data_frame

    # This will be more explicit about which line the error occirs at
    except Exception:
        traceback.print_exc()

In [22]:
# Import the Training Data
lstn = master_formatter_2(lstn, True)

start: 75
col_dropper: 41
data_fixer: 41
data_imputer: 41
simp_num_ft: 44
dist_ft_adder: 45
log_ft_maker: 72
ohe_fn: 156
amentiy_count_maker: 158
amenity_maker: 300
text_col_cvec: 12582

In [23]:
# Read in the testing and validation data to be transformed
validation = pd.read_csv('../data/listings_val.csv')
testing = pd.read_csv('../data/listings_test.csv')

# Run the formatting function on the data
validation = master_formatter_2(validation, False)
testing = master_formatter_2(testing, False)

start: 75
col_dropper: 41
data_fixer: 41
data_imputer: 41
simp_num_ft: 44
dist_ft_adder: 45
log_ft_maker: 72
ohe_fn: 156
amentiy_count_maker: 158
amenity_maker: 300

C:\Users\Dan\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:202: UserWarning: Found unknown categories in columns [6, 8] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

text_col_cvec: 12582
start: 75
col_dropper: 41
data_fixer: 41
data_imputer: 41
simp_num_ft: 44
dist_ft_adder: 45
log_ft_maker: 72
ohe_fn: 156
amentiy_count_maker: 158
amenity_maker: 300
text_col_cvec: 12582

In [24]:
# Check shapes to verify proper column count
validation.shape, testing.shape

((696, 12582), (387, 12582))

# 11 - Export Data to .csv Files

In [25]:
lstn.to_csv('../data/prepped_training.csv', index=False)

In [26]:
validation.to_csv('../data/prepped_validation.csv', index=False)

In [27]:
testing.to_csv('../data/prepped_testing.csv', index=False)